.hero {
    position: relative;
    height: 60vh;
    background: url('hero-image.jpg') no-repeat center center;
    background-size: cover;
}



.biofern {
    height: 95%;
    background-color: #007bff;
}

.certifications img {
    max-width: 50px;
}

.therapeutic-range img {
    max-width: 100%;
}



.facilities img {
    max-width: 100%;
}

.research-development {
    background-color: #f8f9fa;
}

.global-presence img {
    max-width: 100%;
}

.stay-connected img {
    max-width: 100px;
}

footer {
    background-color: #f8f9fa;
}

footer a {
    color: #007bff;
}

footer a:hover {
    text-decoration: underline;
}

footer .map {
    max-width: 100%;
}

#sect {
    height: 500%;
    width: 50p;
}

.vl {
    border-right: 6px black;
    height: 30%;

}

.ai {
    padding-right: 10%;
    margin-left: 0%;
}

#for {
    height: 100%;
    width: 80%;
    background-color: aquamarine;
    border-color: black;
}

#ci{
    padding-right: 50%;
    margin-left: 50%;
}